@charset "UTF-8";
.back {
	background: url('../img/background01.png') no-repeat -304px -133px;
	width: 9px;
	height: 17px;
	display : inline-block;
	margin-right : 7px;
	position : absolute;
	top : 4px;
}
section{
	width : 975px;
	height : 100%;
	margin : 20px auto;
	min-height : 800px;
}
section #top{
	display : inline-block;
	height : 24px;
	line-height : 24px;
	margin-bottom: 16px;
	color : #8e8e8e;
	font-weight : bold;
	position : relative;
	cursor : pointer;
}
section p{
	font-weight : 600;
	margin : 0 0 30px 0;
}
section #tab a .picture{
	width : 203px;
	height : 210px;
	border-radius : 5%;
}