@charset "UTF-8";

body{
	margin : 0;
}
li{
	list-style : none;
	height: 65px;
}
li:hover{
	color:#dbdbdb;
	font-size: 15px;
}

#body{
	width : 975px;
	height : 100%;
	margin : 50px auto;
	text-align : center;
}